*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --header--*/
.header {
    display: flex;
    height: 67px;
    width: 100%;
    justify-content: space-around;
    backdrop-filter: blur(2px);
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    line-height: 67px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .header .box1-header, .box2-header {
    display: flex;
    gap: 20px;
  }
  
  .header img {
    width: 150px;
    height: 37.5px;
    align-self: center;
  }
  
  .header ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .header ul li a {
    text-decoration: none;
    color:  rgb(0, 0, 0);
    font-size: 9.625px;
    font-weight: 600;
    align-self: center;
    padding: 5px 3px;
  }
  
  
  
  
  ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    border-bottom: solid black 2px;
  }
  
  .header select {
    background-color: black;
    color: aliceblue;
    height: fit-content;
    margin: auto 0;
    
  }
  
  /* --end header-- */


/* dangnhap */
.dangnhap {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dangnhap__card{
    width: 459px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input {
    width: 100%;
    height: 30px;
    padding: 20px;
    background-color: #ededed;
    outline: 0;
    border: none;
}
.input:focus{
    outline: none   ;
}


/* end  dangnhap */